.itemDrag
    display: flex
    justify-content: center
    background-color: lightblue
    align-items: center
    width: 100px
    height 100px
    margin: auto
    border: 2px solid red
    font-family: 'Roboto'
    color: red
    font-weight: 800
    font-style: normal
    font-stretch: normal
    letter-spacing: normal
    text-align: left