@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900')
@import '../components/item/style.styl'
@import '../components/target/style.styl'

body
    margin 0
    position relative
    .App
        .wrapper
            display: grid
            grid-template-columns: 20% 80%
            grid-template-rows: 7% 93%
            .itemContainer
                display: flex
                justify-content: center
                align-items: center
                height: 99vh
                border: 4px solid black
            header
                display: flex
                justify-content: center 
                align-items: center
                background-color: navy
                border-bottom: 4px solid #429bf4
                margin 0 
                font-family: 'Roboto'
                font-size: 16px
                font-weight: 800
                font-style: normal
                font-stretch: normal
                letter-spacing: normal
                text-align: left
                color: white
                height 50px
            .targetGrid
                grid-column: 2
                display: grid
                // grid-template-columns: repeat(5, 5fr)
                // grid-template-rows: repeat(5, 5fr)